.Header {
  display: flex;
  height: 50px;
  align-items: flex-end;
  margin-bottom: 40px;
  position: relative;
}

.Header img {
  width: 200px;
}

.Header ul {
  display: flex;
}

.Logo {
  padding: 8px 20px;
}

.Header li {
  text-align: center;
  font-size: 18px;
  color: white;
}

.Header ul > a {
  text-align: center;
  padding: 0px 15px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
  margin-left: 20px;
}

.Header ul > a:hover {
  border-bottom: 2px solid #fff;
}


@media screen and (max-width: 767px) {
  .Header > ul {
    display: none;
  }

  .BurgerMenu {
    display: block;
  }
}
